<div class="d-flex flex-column align-items-center">
  <div class="d-flex justify-content-between align-items-center menu-certificado w-100">
    <div class="nav-item d-flex align-items-center btn-voltar">
      <i class="ph ph-arrow-left"></i>
      <p class="nav-link m-0"> Voltar </p>
    </div>

    <app-secondary-button>
      <i class="bi bi-download"></i>
      Download
    </app-secondary-button>
  </div>

  <div class="certificado d-flex align-items-center justify-content-center">
    <img src="certificate/Certificate_Ribbon.png" alt="Ícone de medalha" class="icone-medalha">
    <div class="conteudo-certificado">
      <img src="certificate/Certificate_Signature.svg" alt="Assinatura" class="img-assinatura">
      <div class="info-certificado d-flex flex-column align-items-center justify-content-center">
        <div class="titulo-subtitulo-certificado">
          <h1>Certificado de conclusão</h1>
          <p>Este certificado comprova que</p>
        </div>
        <p class="nome-aluno">Ana Silva Lopes</p>
        <div>
          <p class="lista-atividade-titulo">Concluiu com suceso as seguintes atividades:</p>
          <p class="lista-atividade">Introdução ao Angular, Configuração com Angular CLI, Criação de componentes
            reutilizáveis, Manipulação de
            dados, Implementação de data binding, Criação de rotas com Angular Router, Consumo de APIs REST</p>
        </div>
      </div>
      <p class="data-emissao">Emitido em 25/04/2025</p>
    </div>
  </div>
</div>